* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: black;
}

.wrap-login {
  width: 100%;
}

.login-form-title {
  display: block;
  font-size: 20px;
  color: white;
  line-height: 1.2;
  text-align: center;
}

.login-form-title img {
  width: 150px;
  height: 150px;
}
